Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==1.1.9
asn1crypto==0.24.0
bidict==0.21.4
certifi==2018.8.24
chardet==3.0.4
click==8.0.3
colorzero==1.1
cryptography==2.6.1
distlib==0.3.4
entrypoints==0.3
filelock==3.4.2
Flask==0.12.2
Flask-SocketIO==5.0.0
gpiozero==1.6.2
h5py==2.7.0
idna==2.6
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
Keras==1.2.0
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==2.0.1
netifaces==0.10.6
numpy==1.21.5
picamera==1.13
Pillow==5.1.0
platformdirs==2.4.1
pycrypto==2.6.1
PyGObject==3.30.4
python-apt==1.8.4.3
python-engineio==4.3.1
python-socketio==5.5.0
pyxdg==0.25
PyYAML==6.0
requests==2.21.0
RPi.GPIO==0.7.0
scipy==1.7.3
SecretStorage==2.3.1
six==1.12.0
socketio==0.2.1
spidev==3.5
ssh-import-id==5.7
Theano==1.0.5
typing-extensions==4.0.1
urllib3==1.24.1
virtualenv==20.13.0
Werkzeug==2.0.2
zipp==3.7.0
